<html>
<head>
    <title>Restaurant Menu App</title>
</head>
<body>
    <h1><a href="{{url_for('indexRestaurant')}}">Restaurant Menu App</a></h1>
    <h3><u>Add a new Restaurant</u></h3>
    <form action="{{url_for('addNewRestaurant')}}" method="POST">
        <p>
            Name: <input type="text" size="30" name="restaurantname">
            Address: <input type="text" size="30" name="restaurantaddress">
            Category: <input type="text" size="30" name="restaurantcategory">
            <input type="submit" value="Create">
        </p>
    </form>
</body>
</html>
